<div class="container">
  <h1>Longest word game</h1>
  <div class="game-letters">
    <ul>
      <% @letters.each do |letter| %>
        <li>
          <%= letter %>
        </li>
      <% end %>
    </ul>
  </div>
  <div>
    <h3>What's the longest word you can make ?</h3>
    <form action="">
      <label for="">
      </label>
      <input type="text">
    </form>
  </div>
</div>
